main {
    padding-top: 2rem;
    
}

/* background-image: url("../images/plans-background.jpg"); */
.background {
    background: url("../images/plans-background.jpg")  center/cover;
    filter: grayscale(40%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 5px solid #0e4f1f;
    /* border-left: none; */
    position: relative;
}

.package__badge {
    position: absolute;
    margin: 1.3rem;
    padding: .5rem;
    top: 0;
    right: 0;
    font-size: .8rem;
    color: #fff;
    background: #ff5454;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.package a {
    text-decoration: none;
    color: inherit; /* Set back default browser's color */
    display: block; /* Anchor tag takes all space */
    padding: 2rem;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #0e4f1f;
    font-size: 1.3rem;
    color: #0e4f1f;
    background: #fff;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}


#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    text-align: right;
    /* border-right: none; */
    border-left: 5px solid #0e4f1f;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: #bbb;
}

/* We create a div right after #free, section that have been floated, to clear float of a document for the next elements, 
but using flexbox much cleaner solution: */
.clearfix {
    clear: both;
}

@media (min-width: 40rem) {
    main {
      /* margin: 2.5rem auto; */
      max-width: 1500px;
      margin-right: auto;
      margin-left: auto;
    }
}    

@media (max-width: 1500px) {
    .package {
        border-left: none;
    }
    #free {
        border-right: none;
    }
}    