/*

Linked google fonts:
font-family: 'Anton', sans-serif;
font-family: 'Antonio', sans-serif;
font-family: 'Montserrat', sans-serif; 

Colors pallet:
RED ===> 
    #ff1b68
GREEN ===> 
    #2ddf5c
DARK GREEN ===>
    #0e4f1f
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* -+-+-+- HEADER -+-+-+- */

.main-header {
    background: #2ddf5c;
    padding: 8px 16px;
    position: fixed;
    width: 100%;
}

.main-header nav {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    /* subtract little more of the width of div = 60.12px */
    width: calc(100% - 75px);

}

.main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header li {
    display: inline-block;  
    margin: 0 16px;
}

.main-header a {
    text-decoration: none;
    color: #0e4f1f;
}    

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav__item a {
    font-weight: bold;
    padding: 5px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #fff;
    border-bottom: 5px solid #fff;
}

.main-nav__item--cta a {
    color: #fff;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: #fff;
    border: none;
}

/* -+-+-+- FOOTER -+-+-+- */

.main-footer {
    background: #000;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: #fff;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}